.gradient-custom-2 {

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #432C7A, #80489C);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

.btn{
    background-color: #432C7A;
    color:antiquewhite;
    margin-left: 2vw;
}

.btn{
    background-color: #432C7A;
    color: #FCE2DB; 
    border: 0;
    border-radius: 5px;
}

.btn:hover{
    color: #432C7A;
    background-color: #FCE2DB; 
    border: 0;
    border-radius: 5px;
}